.container {
    min-width: 400px;
    min-height: 450px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    height: fit-content;
    margin: 0 auto;

}

.header {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header::-webkit-scrollbar {
    height: 7px;
}

.header::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(165, 165,165);
}
.header .section {
    padding: 15px;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    font-size: 1.5rem;
    white-space: nowrap;
    cursor: pointer;
}

.header .active {
    border-bottom: 2px solid #239ce2;
    color: #239ce2;
}

.body {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 0;
    font-size: 1.2rem;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.detail .row {
    display: flex;
    gap: 10px;
}

.detail .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail .row>div {
    flex: 1;
}

.chips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    font-size: large;
}

.chip {
    display: flex;
    gap: 5px;
    background-color: #808080;
    align-items: center;
    padding: 4px 8px;
    border-radius: 20px;
}

.chips .new {
    color: #239ce2;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
}

.chip p {
    font-weight: 1000;
    line-height: 1.35rem;
    color: #fff;
}

.chip svg {
    color: #fff;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.chip .active {
    background-color: #239ce2;
}

.body button {
    width: fit-content;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #239ce2;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: grabbing;
    transition: 200ms;
}

.body button:active {
    transform: translateY(2px);
}