.container{
    padding :50px 30px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(238, 252, 255);
    min-height: 81vh;
}

.container .heading {
    margin: 0 auto;
    max-width: 540px;
    color:#000;
    font-size: 3.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 4.1rem;
}

.heading span{
    background-clip: text;
    background-image: linear-gradient(to right,#239ce2 ,#1977ce);
    color: transparent;
}
.right img{
    width: 500px; 

}